html {
  /*variáveis*/
  --bg-color: black;
  --text-color: white;
}

body.white {
  --bg-color: green;
  --text-color: rgb(73, 71, 71);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

div {
  text-align: center;
  width: 300px;
  margin: 6px auto;
}

header {
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: 24px;
  background-color: black;
  color: var(--bg-color);
  border-radius: 6px;
}

footer {
  margin-bottom: 12px;
  font-size: 12px;
  opacity: 0.4;
  transition: opacity 400ms;
  background-color: green;
  text-decoration-color: white;
}

footer:hover {
  opacity: 1;
}

/*------Tags de conteúdo--------*/
ul {
  list-style: none;
  margin: 20px 0;
}

input {
  height: 40px;
  width: 200px;
  align-items: center;
  margin-bottom: 12px;
  color: rgb(73, 71, 71);
  border-radius: 6px;
  text-align: center;
}

p {
  font-size: 12px;
  opacity: 0.8;
  margin-bottom: 12px;
  color: var(--text-color);
}

button {
  height: 40px;
  width: 200px;
  align-items: center;
  margin-bottom: 12px;
  border-radius: 6px;
  color: white;
  background-color: rgb(17, 88, 17);
  transition: background 400ms;
}

button:hover {
  background: rgb(18, 249, 6);
}

a {
  text-decoration: none;
  background-color: var(--bg-color);
  color: var(--text-color);
}
